.btn {
  width: 80px;
  height: 80px;
  font-size: 60px;
  margin: 20px;
}

.counter {
  font-size: 60px;
}

.panel {
  border-radius: 15px 50px;
  width: 300px;
  padding: 20px 0px 20px 20px;
  margin: 10px;
  background: #73ad21;
  color: white;
}

.panel-2 {
  border: 1px solid #ccc;
  width: 300px;
  height: auto;
  margin: 30px auto;
  padding: 10px;
}
