body {
  margin: 0;
  padding: 0;
}

.App {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  text-align: center;
}

h1,
p {
  display: inline;
}

header h1 {
  font-size: 20px;
  font-weight: 400;
  color: #fd7e14;
}

a {
  color: #fd7e14;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

footer {
  font-size: 10px;
}
